{{#extend "lyt_default"}}
	{{#content "main"}}

		{{! Test handlebars-helpers }}
		{{#is headline "Home Page"}}
			<h3>Is helpers is working</h3>
		{{/is}}

		{{! Test mangony-hbs-helpers }}
		{{#times 4}}
			<p>Times helpers is working</p>
		{{/times}}

		<p>{{body}}</p>

		{{> image }}
	{{/content}}
{{/extend}}